@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;;
}
:root{
    /* font-famil */
    --pacifico : "Pacifico", cursive;
    
    /* colors */
    --grey:grey;
    --orange : #e88735;
    --blackSecondary : #2b2f3a;
    --mainBlack : #0d0e12;
    --white : #fff;
    --primaryblue : #0D6EEB;
    --primaryGreem : #478860;

    /* values */
    --p10 : 10px;
    --p20 : 20px;
    --p25 : 25px;
    --p30 : 30px;
    --p40 : 40px;
    --p50 : 50px;
    --p60 : 60px;
    --p80 : 80px;
    --p90 : 90px;
    --p100 : 100px;
    --p150 : 150px;
    --f14 : 14px;
    --f15 : 15px;
    --f18 : 18px; 
    --f20 : 20px;


}
/* ===============navbar================= */
.logo{
    font-family: var(--pacifico);
    /* text-shadow: 0 0 5px white; */
}
nav{
    z-index: 111;
}
nav a{
 color: var(--white) !important;
}
nav .active{
    color: skyblue !important;
}
nav .dropdown-menu a{
    color: var(--blackSecondary) !important;
}
nav .dropdown-menu a:hover{
    color: var(--white) !important;
    background-color: var(--blackSecondary);
}
.c-pad{
    padding-right:var(--p30);
}
.tooltip-inner {
    background-color: var(--primaryblue); 
    color:var(--white); 
    border-radius: 0.5rem; 
}

.tooltip-arrow {
    border-top-color:var(--primaryblue); 
}
/* ===================main slider ========================= */
.slider{
    background-image: linear-gradient(to right, #2b2f3a, #0d0e12);
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.slider::before{
    content: "";
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--orange);
}
.title h1{
    font-family: "Pacifico", cursive;
    position: absolute;
    top: 15%;
    right: 70%;
    text-align: right;
    color: var(--white);
    font-size: 120px;
    /* width: 40%; */
    line-height: 1.1;
    transform: rotate(-7deg);
    text-shadow: 3px 5px 0 var(--primaryGreem);
}
.title h1::before{
    content: "";
    background: url(imgs/leaves.png)no-repeat;
    background-size: cover;
    position: absolute;
    bottom: 0;
    right: 0%;
    transform: translate(80%,-60%) rotate(10deg);
    width: 100px;
    height: 100px;
    animation:moving 5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
@keyframes moving {
    0%{
        transform: translate(-250%,-60%) rotate(60deg)skew(0deg,0deg)
    }
    50%{
        transform: translate(-125%,-40%) rotate(40deg)skew(0deg,0deg)
    }
    100%{
        transform: translate(80%,-60%) rotate(10deg)skew(5deg,0deg)
    }
}
.content{
    color: var(--white);
    position: absolute;
    top: 12%;
    left: 60%;
    text-align: justify;
    width: 350px;
}
.content .item h1{
    color: var(--orange);
    font-size:32px;
    padding-bottom: 10px;
}
.content button{
    margin-top: 30px;
    padding: 10px 30px;
    border-radius: 20px;
    font-size: 14px;
    color: var(--white);
    border: none;
    float: right;
    background-color: var(--orange);
}
.content .item{
    display: none;
}
.content .item.active{
    display: block;
}
@keyframes show {
    from{
        transform: translateY(100px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}
.content .item.active h1{
    opacity: 0;
    animation: show 0.5s ease-in-out forwards;
}
.content .item.active .des{
    opacity: 0;
    animation: show 0.5s ease-in-out 0.3s forwards;
}
.content .item.active button{
    opacity: 0;
    animation: show 0.5s ease-in-out 0.6s forwards;
}
.images{
    position: absolute;
    bottom: -3%;
    left: 50%;
    --rotate : 0deg;
    transform: translate(-50%, 50%) rotate(var(--rotate));
    /* background-color: blue; */
    width: 950px;
    height: 1000px;
    border-radius: 50%;
    transition: 0.5s ease-in-out;
    outline: 3px dashed #fff5;
    outline-offset: -100px;
    user-select: none;
}
.images .item{
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-color: green; */
    text-align: center;
    rotate: calc(60deg * var(--i));
}
.images .item img{
    height: 300px;
}
#prev, #next{
    position: absolute;
    font-size: 100px;
    left: 250px;
    top: 50%;
    border: none;
    font-family: cursive;
    color:var(--white);
    font-weight: bold;
    opacity: 0.3;
    background-color: transparent;
}
#next{
    left: unset;
    right: 250px;
    /* background-color: red; */
}
#next:hover, #prev:hover{
    opacity: 1;
}
/* =================about us page==================== */
.about{
    display: flex;
    padding: 70px 100px 50px 10px;  
}
 .about .left-img img{
    width: 100%;
    object-fit: conver;
}
.about .left-img{
    width: 50%;   
    filter:drop-shadow(20px 10px 5px var(--grey));
 }
 .about .right-content{
    width: 50%;
    text-align: right;
    align-items: center;
 }
 .about .right-content h3{
    color: var(--primaryGreem);
    font-weight: bold;
 }
.about .right-content h2{
    font-size: var(--p60);
    text-transform: capitalize;
    font-weight: bold;
    color: var(--mainBlack);
    padding: var(--p30) 0;
}
.about .right-content p{
    padding-left: var(--p100);
    line-height: 2;
    color: var(--primaryGreem);
    font-weight:500;
}
/* ====================slider menu=================== */
section.Menu{
    background-color: #EEEEEE;
    padding: var(--p50) 0px;
    position: relative;
}
.swiper-wrapper{
    padding-bottom: var(--p50);
}
.swiper-slide{
    height: max-content;
}
.s-btns{
    transform: translateY(50%);
    font-size: var(--p100);
    font-family: cursive;
    opacity: 0.3;
    color:var(--orange);
}
.s-btns:hover{
    opacity: 1;
}
.s-btns::after{
    display: none;
}
.swiper-slide .card img{  
    height: 230px;
    object-fit: cover;
    object-position:top;
    /* background-color; */
}